body {
    font-size: 11px;
}
a {
    color: #111111;
    font-weight: bold;
}
#top {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#left {
        width: 300px;
        position: absolute;
        top: 50px;
        left: 0px;  
}

#right {
  	float: left;
}

#map {
        
	bottom: 0px;
        position: absolute;
        top: 50px;
        left: 300px;
        right: 0px;
}

#panorama {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 20px;
}
#panorama_control {
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0px;
    right: 0px;
}
table{
    border-collapse: collapse; 
 
}
tr.even{
    background-color: #eeeeee;
    color: black;
}
tr.odd{
    background-color: #ffffff;
    color: black;
}

td.name div {
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
td.date {
    white-space: nowrap;
}
td.way {
    white-space: nowrap;
    text-align: right;
}
.hspacer {
    width: 100px;
}
.pagination {
	padding: 3px;
	margin: 3px;
}
.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aaaadd;
	text-decoration: none;
	color: #000099;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #eee;
	color: #ddd;
}

#message {
    padding: 2px 5px 2px 5px;
	margin: 2px;
    font-weight: bold;
    font-size: 120%;
}
#length {
    color: #ff0000;
}

.section_title {
    font-weight: bold;
}

label:first-child {
    display: inline-block;
    width : 60px;
}

input.readonly {
    background-color: #e0e0e0;
    color: #202020;
}