body {
    font-size: 11px;
}
a.button {
	border: 2px outset black;
	text-decoration: none;
}

#left {
        width: 300px;
        position: absolute;
        top: 50px;
        left: 0px;  
}

#right {
  	float: left;
}

#map {
        
	bottom: 0px;
        position: absolute;
        top: 50px;
        left: 300px;
        right: 0px;
}

#elevation_chart_box {

	bottom: 0px;
        position: absolute;

        width: 600px;
        height: 200px;
        right: 0px;
}
#elevation_chart {
        
    width: 100%;
    height: 100%;
}

#close_button {
    width : 16px;
    height : 16px;
    background-image: url('/walkrr/images/close.png');
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 10;
}

table{
    border-collapse: collapse;
}
tr.even{
	background-color: #1e4a00;
    color: white;
}
tr.odd{
	background-color: #459813;
    color: white;
}

tr.even a {
    color: white;
    font-weight: bold;
}

tr.odd a {
    color: white;
    font-weight: bold;
}

form {
	display: inline;
}

.hspacer {
    width: 100px;
}
.pagination {
	padding: 3px;
	margin: 3px;
}
.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aaaadd;
	text-decoration: none;
	color: #000099;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #eee;
	color: #ddd;
}

#message {
    padding: 2px 5px 2px 5px;
	margin: 2px;
    font-weight: bold;
    font-size: 120%;
}
#length {
    color: #ff0000;
}
#top_left {
    float : left;
}
#top_right {
    float : right;
}