defaults: &defaults
  atom:
    title: walkrr
    id: tag:example.net,YYYY:/walkrr
    author:
      name: foo bar
      email: foo@example.net
      uri: http://example.net/~foo/
development:
  <<: *defaults
  domain: http://example.net/walkrr

test:
  <<: *defaults
  domain: http://example.net/walkrr

production:
  <<: *defaults
  domain: http://example.net/walkrr
