
/*
 *= require bootstrap_and_overrides
 */
#map img { max-width: none; }
#elevation-box img { max-width: none; }
#panorama-box img {max-width: none; }
td.date {
    white-space: nowrap;
}
td.way {
    white-space: nowrap;
    text-align: right;
}
td.name div {
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#side {
        width: 380px;
        position: absolute;
        top: 44px;
        left: 0px;  
	bottom: 0;
}

#main {
	bottom: 0;
        position: absolute;
        top: 44px;
        left: 380px;
        right: 0px;
}
#map {
    position: absolute;  
    width: 100%;
    top : 0;

}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 100;
    border-radius: 3px;
    background-color: #222222;
}

tr {
    cursor: pointer;
    
}

.map-with-none {
    bottom: 0;
}
.map-with-panorama {
    bottom: 300px;
}

.map-with-elevation {
    bottom: 200px;
}

.text-warning {
  color: #c09853;
}

.text-error {
  color: #b94a48;
}

.text-info {
  color: #3a87ad;
}

.text-success {
  color: #468847;
}

#elevation-box {
    width: 100%;
    height: 200px;
    bottom: 0;
    position: absolute;
}

#panorama-box {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}

#panorama, #elevation-box > div{
    width: 100%;
    height: 100%;
}
#panorama_control {
    position: absolute;
    height: 40px;
    bottom: 0;
    z-index: 100;
}

#pagination {
    position: absolute;
    bottom : 0;
}

.table-wrapper {
    position: absolute;
    bottom : 10px;
    top : 350px;
    overflow: scroll;
    padding-right: 16px;
}

.table-wrapper button {
    width: 350px;
}

.table-wrapper table {
    width: 100%;
}
#panorama_control div {
    display: inline-block;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 3px;
}

